@font-face {
  font-family: 'Helveltica';
  src: url('fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
  font-family: 'Section';
  src: url('fonts/HelveticaNeue.ttf') format('truetype');
}

html {
  background: #FFCE6F;
  background: linear-gradient(135deg,
    #FFCE6F 0%,
     #F4CF0E 100%);
  color: #333333 !important;
  letter-spacing: normal !important;
}

.drop-image {
  box-shadow: 3px 3px 5px 0px #000000;
}

body {
  margin: 0;
  font-family: 'Helveltica' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h4 {
  font-family: 'Helveltica' !important;
  color: #333333 !important;
  font-weight: bold  !important;
  letter-spacing: normal !important;
}

h2, h5 {
  font-family: 'Section' !important;
  color: #333333 !important;
  text-transform: uppercase !important;
  letter-spacing: 4px !important;
}

p {
  font-family: 'Helveltica' !important;
  color: #333333 !important;
  letter-spacing: normal !important;
  font-size: larger;
}

a {
  font-family: 'Helveltica' !important;
  letter-spacing: 1px !important;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiCard-root > div{
  position: relative;
}

.nav-links {
  position: absolute;
  right: 0;
  margin-right: 1%;
}

.logo-img {
  height: 50px;
}

#view-selector-container > table, #view-selector-container > button {
  opacity: 0 !important;
  height: 0px !important;
}

.gapi-analytics-data-chart >div > div {
  margin: auto !important;
}

.report-logo-img {
  height: 75px;
  float: left;
}

.top-margin {
  margin-top: 9%;
}

.paper-margin {
  margin: 5%;
  padding: 2%;
}

.MuiDialog-paperWidthSm {
  max-width: 80%;
  width: 80%;
}

.MuiFormLabel-root, .MuiInputLabel-shrink, .Mui-focused {
  text-align: center !important;
  width: 100% !important;
}

input {
  text-align: center !important;
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top center !important;
}

.no-bottom-border {
  border-bottom: none !important;
}

.form-control {
  width:50%;
}

.margin-25 {
  margin-top: 25px;
}

.rm-curve {
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  height: 50px;
  padding:15px;
}
.rm-curve > button {
  border-radius: 20px;
  height: 40px !important;
  width: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  padding: 0px !important;
  margin: 0px !important;
  background-color: black;
}

.rm-curve > button > span {
  border-radius: 20px;
  height: 40px !important;
  width: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.rm-left-curve {
  border-left: 4px solid red;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-right: 25px;
}
.rm-left-curve > h5 {
  float: left;
}
.rm-left-curve > button {
  float: left;
}

.rm-right-curve {
  border-right: 4px solid red;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 25px;
}
.rm-right-curve > h5 {
  float: right;
}
.rm-right-curve > button {
  float: right;
}

.rm-table {
  width: 94% !important;
  margin-left: 3%;
  margin-bottom: 30px;
}

.MuiButton-containedPrimary {
  color: #000 !important;
  background-color: #f5d010 !important;
}
a.MuiButton-containedPrimary:disabled, a.Mui-disabled, button.MuiButton-containedPrimary:disabled, button.Mui-disabled {
  color: #fff !important;
  background-color: #bdbdbd !important;
}

a.MuiButton-containedPrimary {
  font-weight: bold !important;
}
a.MuiButton-containedPrimary:disabled, a.MuiButton-containedPrimary.Mui-disabled {
  font-weight: normal !important;
}


.MuiButton-containedPrimary.secondary-button {
  color: #fff !important;
  background-color: #000 !important;
}
a.MuiButton-containedPrimary.secondary-button:disabled, button.MuiButton-containedPrimary.secondary-button:disabled {
  color: #fff !important;
  background-color: #bdbdbd !important;
}

.MuiButton-textPrimary {
  color: #f5d010 !important;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #f5d010 !important;
}

.footer-color {
  color: #333333 !important;
}

.MuiDrawer-paper {
  background-color: #333333 !important;
  color: white !important;
}

.drawer-links {
  padding: 20px;
}

.drawer-links > a, .drawer-links > button, .drawer-links > div > button, .drawer-links > div > a {
  display: block;
}

.accesoCapital-text {
  color: #59CA40 !important;
}
.comerciante-text {
  color: #0076ff !important;
}
.expansion-text {
  color: #a746d9 !important;
}
.innovacion-text {
  color: #ff9641 !important;
}
.microempresa-text {
  color: #f63435 !important;
}

.accesoCapital.rm-curve {
  border-color: #59CA40 !important;
}
.comerciante.rm-curve {
  border-color: #0076ff !important;
}
.expansion.rm-curve {
  border-color: #a746d9 !important;
}
.innovacion.rm-curve {
  border-color: #ff9641 !important;
}
.microempresa.rm-curve {
  border-color: #f63435 !important;
}

.org-type-icon {
  width: 30%;
  max-width: 150px;
  display: block;
  margin: 30px auto;
}

.add-btn {
  background-color: green !important;
  color: white !important;
}

.light-text {
  font-weight: lighter !important;
}

.center-text {
  text-align: center;
}

.collapse-header-buttons > h5 {
  display: inline-block;
  width: auto;
}
.collapse-header-buttons > div {
  display: inline-block;
  float: right;
}

.not-scrollable > table > tbody > div > div {
  overflow: hidden;
}

.home-hr {
  width: 30%;
  border-color: #f5d010;
  border-width: 3px;
  border-style: solid;
}

.MuiPaper-elevation10 {
  animation: fadeIn ease 500ms;
  -webkit-animation: fadeIn ease 500ms;
  -moz-animation: fadeIn ease 500ms;
  -o-animation: fadeIn ease 500ms;
  -ms-animation: fadeIn ease 500ms;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

.content-desktop {display: block;}
.content-mobile {display: none;}
@media screen and (max-width: 768px) {
  .content-desktop {display: none;}
  .content-mobile {display: block;}
  .collapse-header-buttons > div {
    display: block;
  }
}